@using PetStore.Common
@model PetStore.Web.ViewModels.Products.ListOfProductsViewModel

@{
	ViewData["Title"] = "Deleted Products";
}

@if (Model.ListOfProducts.Count > 0)
{
	<form method="get" asp-area="Administration" asp-controller="ProductsManager" asp-action="DeletedProducts">
		<div class="row">
			<h1 class="text-center"><strong>@ViewData["Title"]</strong></h1>
			<div class="col-md-4 justify-content-end" style="float: left">
				<div class="input-group">
					@if (Model.SearchQuery == null)
					{
						<input style="font-size: 15pt" type="text" id="SearchQuery" name="SearchQuery" class="form-control" placeholder="Product name...">
					}
					else
					{
						<input style="font-size: 15pt" type="text" id="SearchQuery" name="SearchQuery" class="form-control" value="@Model.SearchQuery">
					}
					<div class="input-group-btn">
						<button class="btn btn-success m-auto" style="font-size: 15pt" type="submit">Search</button>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="navbar mr-4">
				<ul class="navbar-nav flex-grow-1" style="font-size: 16pt; float: inherit">
					<li class="nav-item">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" style="font-size: 16pt; background-color: white; color: black; font-weight: bold; border-color: transparent;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								Order by
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="width: 200px; font-size: 14pt;">
								@foreach (string orderCriteria in GlobalConstants.AllOrderByCriteria)
								{
									<li>
										<button class="btn m-auto" style="background-color: transparent" onclick="this.form.submit()" id="OrderCriteria" name="OrderCriteria" value="@orderCriteria">@orderCriteria</button>
									</li>
								}
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
	<table class="table table-hover mt-8" style="width: 1240px; border-bottom: 2px solid; border-radius: 15px; border-color: black; backdrop-filter: blur(20px);">
		<thead>
			<tr>
				<th style="font-size: 18pt; text-align: start; font-weight: bold;">Product</th>
				<th style="font-size: 18pt; text-align:start">Name</th>
				<th style="font-size: 18pt; color: gray;text-align: end; font-weight: bold;">Category</th>
				<th style="font-size: 18pt; color: darkorange; text-align:end; font-weight: bold;">Price</th>
				<th style="font-size: 18pt; color: #0DCAF0; text-align:end; font-weight: bold;">Get Details</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var product in Model.ListOfProducts)
			{
				<tr name="trData">
					<td onclick="location.href='@Url.Action("DeletedProductDetails", "ProductsManager", new { product.Id })'" class="about-product text-start mt-2" width="160"><img src="@product.ImageUrl" width="160" alt="No Image"></td>
					<td onclick="location.href='@Url.Action("DeletedProductDetails", "ProductsManager", new { product.Id })'" style="font-size: 16pt; width: 400px; text-align:left; font-weight: bold;">@Html.DisplayFor(modelItem => product.Name)</td>
					<td onclick="location.href='@Url.Action("DeletedProductDetails", "ProductsManager", new { product.Id })'" style="font-size: 16pt; color: gray; text-align: end; width: 200px; font-weight: bold; font-style: italic;">@Html.DisplayFor(modelItem => product.CategoryName)</td>
					<td onclick="location.href='@Url.Action("DeletedProductDetails", "ProductsManager", new { product.Id })'" style="font-size: 16pt; color: darkorange; text-align: end; width: 200px; font-weight: bold;">@Html.DisplayFor(modelItem => product.Price) $</td>
					<td style="text-align:end">
						<a class="btn btn-info" style="font-size: 15pt" asp-area="Administration" asp-controller="ProductsManager" asp-action="DeletedProductDetails" asp-route-id="@product.Id">Details</a>
						<a class="btn btn-danger" style="font-size: 15pt" onclick="return confirm('Return @product.Name back to the shtop?');" asp-area="Administration" asp-controller="ProductsManager" asp-action="UndeleteProduct" asp-route-id="@product.Id">Undelete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<h1 style="text-align: center">No products found</h1>
	<br />
}
<div style="text-align:center">
	<input class="btn btn-dark" value="Back" onclick="history.back()">
</div>