@using PetStore.Common
@model PetStore.Web.ViewModels.Pets.ListOfPetsViewModel

@{
    this.ViewData["Title"] = "Removed Pets";
}

@if (this.Model.UserMessage != null)
{
    <h1 class="userMessage">
        @this.Model.UserMessage
    </h1>
}

<h1 class="text-center"><strong>@ViewData["Title"]</strong></h1>

@if (this.Model.ListOfPets != null && this.Model.ListOfPets.Count > 0)
{
    <form method="get" asp-controller="PetsManager" asp-action="DeletedPets">
        <div class="container mt-2">
            <div class="row align-items-start">
                <div class="col-md-4 justify-content-start">
                </div>
                <div class="col-md-4 justify-content-start">
                    <div class="input-group">
                        @if (this.Model.SearchQuery == null)
                        {
                            <input style="font-size: 15pt" type="text" id="SearchQuery" name="SearchQuery" class="form-control" placeholder="Search for pet">
                        }
                        else
                        {
                            <input style="font-size: 15pt" type="text" id="SearchQuery" name="SearchQuery" class="form-control" value="@this.Model.SearchQuery">
                        }
                        <input type="hidden" id="PetTypeName" name="PetTypeName" value="@this.Model.PetTypeName">
                        <div class="input-group-btn">
                            <button class="btn btn-success m-auto" style="font-size: 15pt" onclick="this.form.submit()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col-md-5 justify-content-start">
                <div class="navbar">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" style="font-size: 16pt; background-color: white; color: black; font-weight: bold; border-color: transparent;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Order by
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="width: 200px; font-size: 14pt;">
                            @foreach (string orderCriteria in GlobalConstants.AllOrderCriteria)
                            {
                                <li>
                                    <button class="btn m-auto" style="background-color: transparent" onclick="this.form.submit()" id="OrderCriteria" name="OrderCriteria" value="@orderCriteria">@orderCriteria</button>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3 justify-content-start">
                @if (this.Model.SearchQuery != null)
                {
                    string resultType = this.Model.ListOfPets.Count == 1 ? "pet" : "pets";
                    <h3 style="font-style: italic; font-weight: bold">@this.Model.ListOfPets.Count @resultType found</h3>
                }
            </div>
        </div>
    </form> 
    <table class="table table-hover mt-8" style="width: 1240px; border-bottom: 2px solid; border-radius: 15px; border-color: black; backdrop-filter: blur(20px);">
        <thead>
            <tr>
                <th class="firstTwoLabelCols">Pet</th>
                <th class="firstTwoLabelCols">Name</th>
                <th class="lastThreeLabelCols" style="color: gray;">Type</th>
                <th class="lastThreeLabelCols" style="color: darkorange;">Price</th>
                <th class="lastThreeLabelCols" style="color: #0DCAF0;">Get Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pet in this.Model.ListOfPets) 
            {
                <tr name="trData">
                    <td onclick="location.href='@Url.Action("DeletedPetDetails", "PetsManager", new { pet.Id })'"><img src="@pet.ImageUrl" alt="No Image" style="height: 120px; width: 160px;"></td>
                    <td class="petNameCol" onclick="location.href='@Url.Action("DeletedPetDetails", "PetsManager", new { pet.Id })'">@Html.DisplayFor(modelItem => pet.Name) </td>
                    <td class="petTypeCol" onclick="location.href='@Url.Action("DeletedPetDetails", "PetsManager", new { pet.Id })'">@Html.DisplayFor(modelItem => pet.TypeName)</td>
                    <td class="petPriceCol" onclick="location.href='@Url.Action("DeletedPetDetails", "PetsManager", new { pet.Id })'">@Html.DisplayFor(modelItem => pet.Price) $</td>
                    <td class="optionButtonsCol">
                        <a class="btn btn-info" style="font-size: 15pt" asp-controller="PetsManager" asp-action="DeletedPetDetails" asp-route-id="@pet.Id">Details</a>
                        <a class="btn btn-danger" style="font-size: 15pt" onclick="return confirm('Return @pet.Name back to the shtop?');" asp-area="Administration" asp-controller="PetsManager" asp-action="UndeletePet" asp-route-id="@pet.Id">Return back</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 style="text-align: center">No pets found</h1> 
    <br/>
    <div class="bottomPageButtons">
        <a class="btn btn-primary mb-2" style="font-size: 16pt; width: 20%;" asp-area="" asp-controller="Pets" asp-action="Index">All Pets in sale</a>
    </div>
}

<div class="bottomPageButtons">
    <input class="btn btn-dark" style="font-size: 16pt; width: 20%;" value="Back" onclick="history.back()">
</div>
