@using PetStore.Common
@model PetStore.Web.ViewModels.Pets.ListOfPetsViewModel

@{
    ViewData["Title"] = "Removed Pets";
}

@if (Model.ListOfPets != null && Model.ListOfPets.Count > 0)
{
    <div class="row">
        <h1 class="text-center"><strong>@ViewData["Title"]</strong></h1>
        <div class="col-md-4 justify-content-end" style="float: left">
            <form method="get" asp-controller="PetsManager" asp-action="DeletedPets">
                <div class="input-group">
                    @if (Model.SearchQuery == null)
                    {
                        <input style="font-size: 15pt" type="text" id="SearchQuery" name="SearchQuery" class="form-control" placeholder="Pet name...">
                    }
                    else
                    {
                        <input style="font-size: 15pt" type="text" id="SearchQuery" name="SearchQuery" class="form-control" value="@Model.SearchQuery">
                    }
                    <div class="input-group-btn">
                        <button class="btn btn-success m-auto" style="font-size: 15pt" type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </form> 
        </div>
    </div>
    <table class="table table-hover mt-8" style="width: 1240px; border-bottom: 2px solid; border-radius: 15px; border-color: black; backdrop-filter: blur(20px);">
        <thead>
            <tr>
                <th style="font-size: 18pt; text-align: start;">Pet</th>
                <th style="font-size: 18pt; text-align: start;">Name</th>
                <th style="font-size: 18pt; color: gray; text-align: end; font-weight: bold;">Type</th>
                <th style="font-size: 18pt; color: darkorange; text-align: end; font-weight: bold;">Price</th>
                <th style="font-size: 18pt;color: #0DCAF0; text-align: end; font-weight: bold;">Get Details</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var pet in Model.ListOfPets) 
                {
                    <tr name="trData">
                        <td onclick="location.href='@Url.Action("Details", "Pets", new { pet.Id })'" class="about-product text-start mt-2" width="180"><img src="@pet.ImageUrl" width="160"alt="No Image"></td>
                        <td onclick="location.href='@Url.Action("Details", "Pets", new { pet.Id })'" style="font-size: 16pt; text-align: start; font-weight: bold;">@Html.DisplayFor(modelItem => pet.Name)</td>
                        <td onclick="location.href='@Url.Action("Details", "Pets", new { pet.Id })'" style="font-size: 16pt; color: gray; width: 300px; text-align: end; font-weight: bold; font-style: italic;">@Html.DisplayFor(modelItem => pet.TypeName)</td>
                        <td onclick="location.href='@Url.Action("Details", "Pets", new { pet.Id })'" style="font-size: 16pt; color: darkorange; width: 320px;  text-align: end; font-weight: bold;">@Html.DisplayFor(modelItem => pet.Price) $</td>
                        <td style="text-align: end; font-weight: bold;">
                            <a class="btn btn-info" style="font-size: 15pt" asp-controller="PetsManager" asp-action="DeletedPetDetails" asp-route-id="@pet.Id">Details</a>
                            <a class="btn btn-danger" style="font-size: 15pt" onclick="return confirm('Return @pet.Name back to the shtop?');" asp-area="Administration" asp-controller="PetsManager" asp-action="UndeletePet" asp-route-id="@pet.Id">Return back to the shop</a>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
}
else
{
    <h1 style="text-align: center">No pets found</h1> 
    <br/>
}
<div style="text-align:center">
         <input class="btn btn-dark" value="Back" onclick="history.back()">
</div>