@using PetStore.Common
@using PetStore.Data.Models.Common
@model PetStore.Web.ViewModels.Products.EditPetViewModel

@{
    ViewData["Title"] = "Edit Pet";
}

<h1 style="text-align:center; color:red">@Model.UserMessage</h1>     

<h1 style="text-align: center; font-weight: bold">@ViewData["Title"]</h1>
<div class="row" style="backdrop-filter: blur(10px); border: 2px solid; border-color: white; border-radius: 15px">
    <div class="col-md-4 mx-auto">
        <form asp-action="EditPet" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" style="color: red; background-color: yellow; font-weight: bold; font-style: italic; border-radius: 5px"></div>
            <div class="form-group mt-4">
                <label for="Name" class="control-label">Name</label>
                <input id="Name" name="Name" class="form-control" type="text" value="@Model.Name" minlength="@PetValidationConstants.NameMinLength" maxlength="@PetValidationConstants.NameMaxLength" required />
            </div>
            <div class="form-group">
                <label for="BirthDate" class="control-label">Date of birth</label>
                 <input id="BirthDate" name="BirthDate" class="form-control" type="date" value="@Model.BirthDate.ToString("yyyy-MM-dd")"required/>
            </div>
            <div class="form-group">
                <label for="Description" class="control-label">Breed</label>
                <input id="Description" name="Breed" class="form-control" type="text" value="@Model.Breed" minlength="@PetValidationConstants.BreedMinLength" maxlength="@PetValidationConstants.BreedMaxLength" required/>
            </div>
            <div class="form-group">
                <label for="Price" class="control-label">Price</label>
                <input id="Price" name="Price" class="form-control" value="@Model.Price" type="number" step="0.01" min="0.01" max="@PetValidationConstants.PriceMaxValue" required/>
            </div>
            <div class="form-group">
                <label for="ImageURL" class="control-label">Image URL</label>
                <input id="ImageURL" name="ImageURL" pattern="@ProductValidationConstants.UrlRegexForView" title="@GlobalConstants.InvalidUrlUserMessage" class="form-control" type="text" value="@Model.ImageUrl" required/>
            </div>
            <div class="form-group">
                <label for="TypeName" class="control-label">Type</label>
                <select id="TypeName" name="TypeName" class="form-control">>
                    @{
                        <option value="@Model.TypeName">@Model.TypeName</option>                  
                        foreach (var petTypeName in Model.PetTypes.Where(c => c != Model.TypeName))
                        {
                            <option value="@Model.TypeName">@petTypeName</option>
                        }
                    }
                </select>
            </div>
            <br/>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type="submit" value="Edit" class="btn btn-success"/>
                <a class="btn btn-danger" onclick="return confirm('Remove @Model.Name from the shop?');" asp-area="Administration" asp-controller="PetsManager" asp-action="DeletePet" asp-route-id="@Model.Id">Delete</a>
                <input class="btn btn-dark mb-4" value="Back" onclick="history.back()">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}