@using PetStore.Data.Models.Common
@model ICollection<PetStore.Web.ViewModels.Products.ListCategoriesOnProductCreateViewModel>

@{
    ViewData["Title"] = "Create Product";
}

<h1 style="text-align: center">Create</h1>

<h4 style="text-align: center">Product</h4>
<hr />
<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input id="Name" name="Name" placeholder="Product Name..." class="form-control" type="text" minlength="@ProductValidationConstants.NameMinLength" maxlength="@ProductValidationConstants.NameMaxLength"/>
            </div>
            <div class="form-group">
                <label for="Price" class="control-label">Price</label>
                <input id="Price" name="Price" placeholder="0.00" class="form-control" type="number" step="any" min="0" max="1000000"/>
            </div>
            <div class="form-group">
                <label for="ImageURL" class="control-label">ImageURL</label>
                <input id="ImageURL" name="ImageURL" placeholder="ImageURL..." pattern="@ProductValidationConstants.UrlRegexForView" title="Include https://" class="form-control" type="text"/>
            </div>
             <div class="form-group">
                <label for="Description" class="control-label">Description</label>
                <input id="Description" name="Description" placeholder="Description..." class="form-control" type="text" minlength="@ProductValidationConstants.DescriptionMinLength" maxlength="@ProductValidationConstants.DescriptionMaxLength">
            </div>
            <div class="form-group">
                <label for="CategoryId" class="control-label">Category</label>
                <select id="CategoryId" name="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                    @foreach (var catInfo in Model)
                    {
                        <option value="@catInfo.Id">@catInfo.Name</option>
                    }
                </select>
            </div>
            <br/>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type="submit" value="Create" class="btn btn-success"/>
                <a class="btn btn-dark" asp-action="AllProducts">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
