@using PetStore.Common
@model PetStore.Web.ViewModels.Products.AllProductsViewModel

@{
    ViewData["Title"] = "Deleted Products";
}

<div class="row">
    <div class="col-md-4">
        <h1>Deleted Products</h1>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
        </th>
        <th>
            Name
        </th>
        <th style="text-align:end">
            Category Name
        </th>
        <th style="text-align:end">
            Price
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.AllProducts) 
    {
        <tr name="trData">
            <td class="about-product text-center mt-2"><img src="@product.ImageUrl" width="60" alt="No image">
                </td>
            <td>
                @Html.DisplayFor(modelItem => product.Name)
            </td>
            <td style="text-align:end">
                @Html.DisplayFor(modelItem => product.Category.Name)
            </td>
            <td style="text-align:end">
                @Html.DisplayFor(modelItem => product.Price) $
            </td>
            <td style="text-align:end">
                <a class="btn btn-info" asp-action="DeletedProductDetails" asp-route-id="@product.Id">Details</a> 
                <a class="btn btn-success" asp-action="Undelete" asp-route-id="@product.Id">Undelete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<p style="text-align:center">
         <input class="btn btn-dark" value="Back" onclick="history.back()">
</p>