@using PetStore.Common
@using PetStore.Data.Models.Common
@model PetStore.Web.ViewModels.Products.DetailsProductViewModel

@{
    ViewData["Title"] = $"{Model.Name}";
}

<h3 style="text-align:left">Category: @Model.CategoryName</h3>
<h1 style="text-align:center">@Model.Name</h1>
<div class="d-flex justify-content-center container mt-3">
    <div class="card p-3 bg-white"><i class="fa fa-apple"></i>
        <div class="about-product text-center mt-2"><img src="@Model.ImageUrl" width="400"  alt="No image"></div>
            <div style="text-align:center"> <h6 class="mt-4 text-black-50">@Model.Description</h6></div>
        <div style="text-align:center">Price: @Math.Round(Model.Price, 2) $</div>
        <div style="text-align:center"><a class="btn btn-success" asp-action="">Purchase</a> 
            <br/>
            <br/>
            <br/>
        </div>
        <div> 
            <a class="btn btn-dark" style="float: left" asp-action="Index">All Products</a>
            <a class="btn btn-info" style="float: right" asp-controller="Categories" asp-action="CategoryProducts" asp-route-id="@Model.Category.Id">More @Model.CategoryName Products</a> 
        </div>  
    </div> 
</div>
<div>
@if (User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <p class="d-flex justify-content-center container mt-3">
        <div class="card p-3 bg-white">
              <i class="fa fa-apple"></i>
        <div style="text-align:center">
        <h3><string>Administration settings</string></h3><br/>
        Created on @Model.CreatedOn.ToString(ProductValidationConstants.DefaultDateTimeFormat)<br/>
        @if(Model.ModifiedOn != null)
        {                  
            <p style="text-align:center">Last changes was made on @Model.ModifiedOn.Value.ToString(ProductValidationConstants.DefaultDateTimeFormat)</p>
        }
        <br/>
        </div>
            <p class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-danger"asp-action="TryToDeleteProduct" asp-route-id="@Model.Id">Delete</a>
                <input class="btn btn-dark" value="Back" onclick="history.back()">
            </p>
        </div>   
     </p>
}  
</div>

