@using PetStore.Common
@using PetStore.Data.Models.Common
@model PetStore.Web.ViewModels.Products.DetailsProductViewModel

@{
    this.ViewData["Title"] = $"{this.Model.Name}";
}

@if (this.Model.UserMessage != null)
{
    <h1 class="userInfoMessage">
        <i>@Model.UserMessage</i>
    </h1>   
    <br/>
}

<h1 style="text-align:center"><strong>@ViewData["Title"]</strong></h1>
<h4 class="categoryNameHeader"><i>Category: @this.Model.CategoryName</i></h4>
<div class="d-flex justify-content-center container mt-3">
    <div class="card p-3" style="background-color: #F7F7F7;"><i class="fa fa-apple"></i>
        <div class="about-product text-center mt-2 mb-2"><img src="@this.Model.ImageUrl" alt="No image" width="500"></div>
        <div style="text-align:center">
            <h6 class="petDescription">@this.Model.Description</h6>
        </div>
        <div class="productPrice">Price: @Math.Round(this.Model.Price, 2) $</div>
        <form method="get" asp-area="" asp-controller="Orders" asp-action="OrderDetails">
            <input type="hidden" id="ProductId" name="ProductId" value="@this.Model.Id">
            <div class="form-group col-md-1 mx-auto mt-2 mb-2" style="font-size: 16pt; text-align: center;">
                <label for="Quantity" class="control-label">Quantity</label>
                <input style="text-align: center;" id="Quantity" name="Quantity" value="1" class="form-control" type="number" step="1" min="1" equired />
            </div>
            <div class="container mt-4" style="text-align:center">
                <button class="btn btn-success mb-5" style="font-size: 18pt;" onclick="this.form.submit()">Make an order</button>
            </div>
        </form>
        <div class="mb-3" style="text-align:center">
            <a class="btn btn-dark" style="width: 200px; font-size: 16pt; float: left" asp-action="Index">All Products</a>
            <a class="btn btn-info" style="font-size: 16pt; float: right" asp-controller="Categories" asp-action="CategoryProducts" asp-route-id="@this.Model.Category.Id">More @this.Model.CategoryName</a>
        </div>
        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <p class="d-flex justify-content-center container mt-3">
                <div class="adminOptionsHeader">
                    <i><strong>Administration settings</strong></i>
                </div>
                <div class="card p-3 bg-white">
                    <i class="fa fa-apple"></i>
                    <div class="adminOptionsRow">
                        <p><i><strong>Created on</strong></i> @this.Model.CreatedOn.ToString(GlobalConstants.AdministrationSettingsDateTimeFormat)</p>
                        @if(this.Model.ModifiedOn != null)
                        {
                            <p class="adminOptionsRow"><i><strong>Last changes was made on</strong></i> @this.Model.ModifiedOn.Value.ToString(GlobalConstants.AdministrationSettingsDateTimeFormat)</p>
                        }
                        <br/>
                    </div>
                    <p class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-secondary" style="font-size: 16pt;" asp-area="Administration" asp-area="Administration" asp-controller="ProductsManager" asp-action="EditProduct" asp-route-id="@this.Model.Id">Edit</a>
                        <a class="btn btn-danger" style="font-size: 16pt;" onclick="return confirm('Remove @this.Model.Name from the shtop?');" asp-area="Administration" asp-controller="ProductsManager" asp-action="DeleteProduct" asp-route-id="@this.Model.Id">Delete product</a>
                        <input class="btn btn-dark" style="font-size: 16pt;" value="Back" onclick="history.back()">
                    </p>
                </div>
            </p>
        }  
    </div>
</div>
