@using PetStore.Common
@model PetStore.Web.ViewModels.Products.ListOfProductsViewModel

@{
    this.ViewData["Title"] = "Products";

    string[] oderCriteria = GlobalConstants.AllOrderCriteria;

    if (this.Model.CategoryName != null)
    {
        oderCriteria = GlobalConstants.AllOrderCriteria.Where(c => c != "Type").ToArray();
    }
}

@if (this.Model.UserMessage != null)
{
    <h1 class="userInfoMessage">@this.Model.UserMessage</h1>
}

@if (this.ViewBag.CategoryName == null && this.Model.CategoryName == null)
{
    <h1 class="text-center"><strong>@ViewData["Title"]</strong></h1>
}
else
{
    <h1 class="about-product text-left mt-2">
        <img src="@this.ViewBag.CategoryImageURL" alt="No image" style="width:120px; height:100px; border:2px solid; border-radius: 5px">
        @this.Model.CategoryName
    </h1>     
}

@if (this.Model.ListOfProducts.Count > 0)
{
    <form method="get" asp-controller="Products" asp-action="Index" autocomplete="off">
        <div class="container mt-2">
            <div class="row align-items-start">
                <div class="col-md-4 justify-content-start">
                </div>
                <div class="col-md-4 justify-content-start">
                    <div class="input-group">
                        @if (this.Model.SearchQuery == null)
                        {
                            <input style="font-size: 15pt" type="text" id="SearchQuery" name="SearchQuery" class="form-control" placeholder="Search for product">
                        }
                        else
                        {
                            <input style="font-size: 15pt" type="text" id="SearchQuery" name="SearchQuery" class="form-control" value="@this.Model.SearchQuery">
                        }
                        <input type="hidden" id="CategoryName" name="CategoryName" value="@this.Model.CategoryName">
                        <div class="input-group-btn">
                            <button class="btn btn-success m-auto" style="font-size: 15pt" onclick="this.form.submit()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col-md-5 justify-content-start">
                <div class="navbar">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" style="font-size: 16pt; background-color: white; color: black; font-weight: bold; border-color: transparent;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Order by
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="width: 200px; font-size: 14pt;">
                            @foreach (string orderCriteria in oderCriteria)
                            {
                                <li>
                                    <button class="btn m-auto" style="background-color: transparent" onclick="this.form.submit()" id="OrderCriteria" name="OrderCriteria" value="@orderCriteria">@orderCriteria</button>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3 justify-content-start">
                @if (this.Model.SearchQuery != null)
                {
                string searchedTypeNoun = this.Model.ListOfProducts.Count == 1 ? "product" : "products";
                    <h3 style="font-style: italic; font-weight: bold">@this.Model.ListOfProducts.Count @searchedTypeNoun found</h3>
                }
            </div>
        </div>
    </form>
    <table class="table table-hover mt-8" style="width: 1240px; border-bottom: 2px solid; border-radius: 15px; border-color: black; backdrop-filter: blur(20px);">
        <thead>
            <tr>
                <th class="firstTwoLabelCols">Product</th>
                <th class="firstTwoLabelCols">Name</th>
                <th class="lastThreeLabelCols" style="color: gray;">Category</th>
                <th class="lastThreeLabelCols" style="color: darkorange;">Price</th>
                <th class="lastThreeLabelCols" style="color: #0DCAF0;">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in this.Model.ListOfProducts)
            {
                <tr name="trData">
                    <td onclick="location.href='@Url.Action("Details", "Products", new { product.Id })'"><img src="@product.ImageUrl" alt="No Image" style="height: 120px; width: 160px;"></td>
                    <td class="productNameCol" onclick="location.href='@Url.Action("Details", "Products", new { product.Id })'">@Html.DisplayFor(modelItem => product.Name)</td>
                    <td class="categoryNameCol" onclick="location.href='@Url.Action("Details", "Products", new { product.Id })'">@Html.DisplayFor(modelItem => product.CategoryName)</td>
                    <td class="productPriceCol" onclick="location.href='@Url.Action("Details", "Products", new { product.Id })'">@Html.DisplayFor(modelItem => product.Price) $</td>
                    <td class="optionButtonsCol">
                        <a class="btn btn-info" style="font-size: 15pt" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">Details</a>
                        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <a class="btn btn-dark" style="font-size: 15pt" asp-area="Administration" asp-controller="ProductsManager" asp-action="EditProduct" asp-route-id="@product.Id">Edit</a>
                            <a class="btn btn-danger" style="font-size: 15pt" onclick="return confirm('Remove @product.Name from the shtop?');" asp-area="Administration" asp-controller="ProductsManager" asp-action="DeleteProduct" asp-route-id="@product.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 style="text-align: center">No products found</h1>
    <br />
    <div class="bottomPageButtons">
        <a class="btn btn-primary mb-2" style="font-size: 16pt; width: 20%;" asp-controller="Products" asp-action="Index">All Products</a>
    </div>
    <div class="bottomPageButtons">
        <a class="btn btn-secondary mb-2" style="font-size: 16pt; width: 20%;" asp-controller="Categories" asp-action="Index">All Categories</a>
    </div>
}

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <div class="bottomPageButtons">
        <a class="btn btn-success mb-2" style="font-size: 16pt; width: 20%;" asp-area="Administration" asp-controller="Create" asp-action="CreateProduct">Create New Product</a>
    </div>
    <div class="bottomPageButtons">
        <a class="btn btn-danger mb-2" style="font-size: 16pt; width: 20%;" asp-area="Administration" asp-controller="ProductsManager" asp-action="DeletedProducts">Deleted Products</a>
    </div>
}

<div class="bottomPageButtons">
    <input class="btn btn-dark" style="font-size: 16pt; width: 20%;" value="Back" onclick="history.back()">
</div>