@using PetStore.Common
@model PetStore.Web.ViewModels.Products.AllProductsViewModel

@{
    ViewData["Title"] = "All Products";
}

<div class="row">
    <div class="col-md-4">
        <h1>All Products</h1>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
        </th>
        <th>
            Name
        </th>
        <th style="text-align:end">
            Category Name
        </th>
        <th style="text-align:end">
            Price
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.ListOfProducts) 
    {
        <tr name="trData">
            <td class="about-product text-center mt-2"><img src="@product.ImageUrl" width="60" alt="@product.Name">
                </td>
            <td>
                @Html.DisplayFor(modelItem => product.Name)
            </td>
            <td style="text-align:end">
                @Html.DisplayFor(modelItem => product.CategoryName)
            </td>
            <td style="text-align:end">
                @Html.DisplayFor(modelItem => product.Price) $
            </td>
            <td style="text-align:end">
                <a class="btn btn-info" asp-action="Details" asp-route-id="@product.Id">Details</a> 
                @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@if (User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <p class="d-grid gap-2 col-2 mx-auto">
        <a class="btn btn-success" asp-action="Create">Add new product</a>
        <a class="btn btn-secondary" asp-action="DeletedProducts">Deleted products</a>
    </p>
}