@using PetStore.Common
@model PetStore.Web.ViewModels.Products.ListOfProductsViewModel

@{
    ViewData["Title"] = "Products";
}

<div class="row">
    @if (ViewBag.CategoryName == null && Model.CategoryName == null)
    {
        <h1 style="text-align: center">All Products</h1>
    }
    else
    {
        <h1 class="about-product text-left mt-2">
            <img src="@ViewBag.CategoryImageURL" alt="No image" style="width:120px; height:100px; border:2px solid; border-radius: 5px">
            @Model.CategoryName
        </h1>     
    }
    <div class="col-md-4 mb-4 justify-content-end" style="float: left"> 
        <form method="get" asp-controller="Products" asp-action="Index">
            <div class="input-group">
                @if (Model.SearchQuery == null)
                {
                    <input type="text" id="SearchQuery" name="SearchQuery" class="form-control" placeholder="Product name...">
                }
                else
                {
                    <input type="text" id="SearchQuery" name="SearchQuery" class="form-control" value="@Model.SearchQuery">
                }
                    <input type="hidden" id="CategoryName" name="CategoryName" value="@Model.CategoryName">
                <div class="input-group-btn">
                    <button class="btn btn-success m-auto" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>  
</div>
@if (Model.ListOfProducts.Count > 0)
{
    <table class="table table-hover mt-8" style="width: 1240px; border-bottom: 2px solid; border-radius: 15px; border-color: black; backdrop-filter: blur(20px);">
        <thead>
            <tr>
                <th style="text-align: start; font-weight: bold;">Product</th>
                <th style="text-align:start">Name</th>
                <th style="text-align: start; font-weight: bold;">Category</th>
                <th style="color: red; text-align:end; font-weight: bold;">Price</th>
                <th style="color: #0DCAF0; text-align:end; font-weight: bold;">Get Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.ListOfProducts)
            {
                <tr name="trData">
                    <td onclick="location.href='@Url.Action("Details", "Products", new { product.Id })'" class="about-product text-start mt-2" width="160"><img src="@product.ImageUrl" width="160" alt="No Image"></td>
                    <td onclick="location.href='@Url.Action("Details", "Products", new { product.Id })'" style="text-align:left; font-weight: bold;">@Html.DisplayFor(modelItem => product.Name)</td>
                    <td onclick="location.href='@Url.Action("Details", "Products", new { product.Id })'" style="text-align:start; font-weight: bold; font-style: italic;">@Html.DisplayFor(modelItem => product.CategoryName)</td>
                    <td onclick="location.href='@Url.Action("Details", "Products", new { product.Id })'" style="color: red; text-align:end; font-weight: bold;">@Html.DisplayFor(modelItem => product.Price) $</td>
                    <td style="text-align:end; font-weight: bold;">
                        <a class="btn btn-info" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">Details</a> 
                        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <a class="btn btn-dark" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                            <a class="btn btn-danger" onclick="return confirm('Remove @product.Name from the shtop?');" asp-controller="Products" asp-action="DeleteResult" asp-route-id="@product.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
        <h1 style="text-align: center">No products found</h1> 
        <br/>
}
<p class="d-grid gap-2 col-2 mx-auto">
        <input class="btn btn-dark" value="Back" onclick="history.back()">
        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <a class="btn btn-success" asp-controller="Products" asp-action="Create">Add New Product</a>
            <a class="btn btn-danger" asp-controller="Products" asp-action="DeletedProducts">All Deleted Products</a>
        }     
</p>