@using PetStore.Common
@model PetStore.Web.ViewModels.Products.AllProductsViewModel

@{
    ViewData["Title"] = "All Products";
}

<div class="row">
    <h1 style="text-align: center">All Products</h1>
    <div class="col-md-4 justify-content-end" style="float: left">
        <form method="get" asp-controller="Products" asp-action="Index">
            <div class="input-group">
                @if (Model.SearchQuery == null)
                {
                    <input type="text" id="search" name="search" class="form-control" placeholder="Search...">
                }
                else
                {
                    <input type="text" id="search" name="search" class="form-control" value="@Model.SearchQuery">
                }
                <div class="input-group-btn">
                    <button class="btn btn-success m-auto" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form> 
</div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
        </th>
        <th>
            Name
        </th>
        <th style="text-align:end">
            Category Name
        </th>
        <th style="text-align:end">
            Price
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.ListOfProducts) 
    {
        <tr name="trData">
            <td class="about-product text-center mt-2"><img src="@product.ImageUrl" width="60" alt="@product.Name">
                </td>
            <td>
                @Html.DisplayFor(modelItem => product.Name)
            </td>
            <td style="text-align:end">
                @Html.DisplayFor(modelItem => product.CategoryName)
            </td>
            <td style="text-align:end">
                @Html.DisplayFor(modelItem => product.Price) $
            </td>
            <td style="text-align:end">
                <a class="btn btn-info" asp-action="Details" asp-route-id="@product.Id">Details</a> 
                @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="DeleteConfirmation" asp-route-id="@product.Id">Delete</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
<p class="d-grid gap-2 col-2 mx-auto">
        <input class="btn btn-dark" value="Back" onclick="history.back()">
        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
        <a class="btn btn-success" asp-action="Create">Add new product</a>
        <a class="btn btn-secondary" asp-action="DeletedProducts">Deleted products</a>
        }
</p>