@model PetStore.Web.ViewModels.Products.CreateProductViewModel

@{
    ViewData["Title"] = "Successfully Added New Product";
}

<h1 style="text-align:center"> 
    @User.Identity.Name added new product<br/>
</h1>
<hr />
<h1 style="text-align:center">@Model.Name</h1>
<h3 style="text-align:center">Category: @Model.CategoryName</h3>
<div class="d-flex justify-content-center container mt-3">
        <div class="card p-3 bg-white"><i class="fa fa-apple"></i>
            <div class="about-product text-center mt-2"><img src="@Model.ImageUrl" width="400"  alt="No image">
                <div> <h6 class="mt-4 text-black-50">@Model.Description</h6></div>
            <div>Price: @Math.Round(Model.Price, 2) $</div>
       </div>
       </div>
    </div>
<div/>
<br />
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-success" asp-action="Create">Create product</a>
    <input class="btn btn-dark" value="Back" onclick="history.go(-2); return false;">
</div>

