@using PetStore.Common
@model PetStore.Web.ViewModels.User.UserShortInfoViewModel[]

@{
    ViewData["Title"] = "List of all Users";
}

<div class="row">
    <h1 class="text-center"><strong>@ViewData["Title"]</strong></h1>
</div>
@if (this.Model.Length > 0)
{
    <table class="table table-hover" style="width: 1240px; border-bottom: 2px solid; border-radius: 15px; border-color: black; backdrop-filter: blur(20px);">
        <thead>
            <tr>
                <th style="text-align: start;">Email</th>
                <th style="text-align: end;">First Name</th>
                <th style="text-align: end;">Last Name</th>
                <th style="text-align: end;">Status</th>
                <th style="color: #0DCAF0; text-align: end; font-weight: bold;">Get Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in this.Model)
            {
                <tr name="trData">
                    <td onclick="location.href='@Url.Action("Index", "User", new { Area = "", user.Id })'" style="text-align: left; font-weight: bold;">@Html.DisplayFor(modelItem => user.Email)</td>
                    <td onclick="location.href='@Url.Action("Index", "User", new { Area = "", user.Id })'" style="text-align: end; font-weight: bold; font-style: italic;">@Html.DisplayFor(modelItem => user.FirstName)</td>
                    <td onclick="location.href='@Url.Action("Index", "User", new { Area = "", user.Id })'" style="text-align: end; font-weight: bold; font-style: italic;">@Html.DisplayFor(modelItem => user.LastName)</td>
                    <td onclick="location.href='@Url.Action("Index", "User", new { Area = "", user.Id })'" style="text-align: end; font-weight: bold; font-style: italic;">@Html.DisplayFor(modelItem => user.AccountStatus)</td>
                    <td style="text-align: end; font-weight: bold;">
                        <a class="btn btn-info" asp-controller="UserManager" asp-action="AccountDetails" asp-route-id="@user.Id">Details</a>
                        @if (!user.IsDeleted)
                        {
                            <a class="btn btn-danger" onclick="return confirm('Deactivate account with email: @user.Email ?');" asp-area="" asp-controller="User" asp-action="DeactivateAcccountResult" asp-route-id="@user.Id">Deactivate Account</a>
                        }
                        else
                        {
                            <a class="btn btn-success" style="width: 162px" onclick="return confirm('Activate account with email: @user.Email ?');" asp-area="Administration" asp-controller="User" asp-action="ActivateAcccountResult" asp-route-id="@user.Id">Activate Account</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 style="text-align: center">There is no registrated user yet!</h1> 
    <br/>
}