@using PetStore.Common
@using PetStore.Data.Models.Common
@using PetStore.Web.ViewModels.PetAppointment
@model ClientAppointmentInfoViewModel[]

@{
    this.ViewData["Title"] = "My Appoitnments";
}

@if (this.Model.Length > 0)
{

    <h1 class="text-center"><strong>@this.ViewData["Title"]</strong></h1>
    <table class="table mt-8" style="border-bottom: 2px solid; border-radius: 15px; border-color: black; backdrop-filter: blur(20px);">
        <thead>
            <tr>
                <th class="firstTwoLabelCols">Pet</th>
                <th class="firstTwoLabelCols">Name</th>
                <th class="lastThreeLabelCols">Type</th>
                <th class="lastThreeLabelCols">Breed</th>
                <th class="lastThreeLabelCols">Age</th>
                <th class="lastThreeLabelCols">Appointment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointmentInfo in this.Model)
            {
                <tr name="trData">
                    <td><img src="@appointmentInfo.Pet.ImageUrl" alt="No Image" style="height: 120px; width: 160px;"></td>
                    <td class="productNameCol">@Html.DisplayFor(modelItem => appointmentInfo.Pet.Name)</td>
                    <td class="categoryNameCol" style="color: black;">@Html.DisplayFor(modelItem => appointmentInfo.Pet.TypeName)</td>
                    <td class="quantityCol" style="color: black;">@Html.DisplayFor(modelItem => appointmentInfo.Pet.Breed)</td>
                    <td class="deliveryAddressCol" style="color: black; width: 300px">@Html.DisplayFor(modelItem => appointmentInfo.Pet.AgeInTextFormat)</td>
                    <td class="deliveryAddressCol" style="color: black; width: 300px">@appointmentInfo.Appointment.ToString("dd, MM , yyyy h:mm tt")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 style="text-align: center">You do not have any appointments.</h1>
    <br />
}


<div class="bottomPageButtons">
    <input class="btn btn-dark" style="font-size: 16pt; width: 20%;" value="Back" onclick="history.back()">
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}