@using PetStore.Common;
@using PetStore.Web.ViewModels.Categories;

@model List<DeletedCategoryViewModel>

@{
    this.ViewData["Title"] = "Deleted Categories";
}
@if (!string.IsNullOrEmpty(this.ViewBag.Message))
{
     <h1 class="userMessage">
        <i>@this.ViewBag.Message</i>
    </h1>  
}

<h1 class="text-center"><strong>@this.ViewData["Title"]</strong></h1>

@if (this.Model.Count > 0)
{
    <table class="table mt-8" style="width: 1240px; border-bottom: 2px solid; border-radius: 15px; border-color: black; backdrop-filter: blur(20px);">
        <thead>
            <tr>
                <th class="firstTwoLabelCols">Category</th>
                <th class="firstTwoLabelCols">Name</th>
                <th class="deletedCategoryOptionsCol">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in this.Model)
            {
                <tr name="trData">
                    <td class="about-product text-start mt-2"><img src="@category.ImageURL" alt="No Image" style="height: 120px; width: 160px;"></td>
                    <td class="categoryNameLabelCol">@Html.DisplayFor(modelItem => category.Name)</td>
                    <td class="optionButtonsCol">
                        <a class="btn btn-success" style="font-size: 15pt" onclick="return confirm('Return @category.Name back to the shtop?');" asp-area="Administration" asp-controller="CategoriesManager" asp-action="UndeleteCategory" asp-route-id="@category.Id">Undelete category</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 style="text-align: center">No categories found</h1>
    <br />
    <div class="bottomPageButtons">
        <a class="btn btn-primary mb-2" style="font-size: 16pt; width: 20%;" asp-area="" asp-controller="Categories" asp-action="Index">All active Categories</a>
    </div>
}
<div class="bottomPageButtons">
    <input class="btn btn-dark" style="font-size: 16pt; width: 20%;" value="Back" onclick="history.back()">
</div>