@using PetStore.Common;
@using PetStore.Web.ViewModels.Requests;

@model RequestViewModel[]

@{
    this.ViewData["Title"] = $"Inactive Requests";
}

<h1 class="text-center"><strong>@this.ViewData["Title"]</strong></h1>

@if (this.Model.Count() > 0)
{
    <div class="row">
        @foreach (var request in this.Model)
        {
            <div class="col-sm-6 mt-4">
                <div class="card" style="background-color: transparent; border: 3px solid; border-radius: 15px; border-color: whitesmoke; backdrop-filter: blur(20px);">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="color: black;">
                            <strong style="font-size: 36px; color: black">
                                @request.Title
                            </strong>
                        </h5>
                        <h6 class="card-text" style="text-align: center; color: gray">
                            <i>Sender email: </i><strong>@request.SenderEmail</strong>
                        </h6>
                        <h6 style="text-align: center; color: gray">
                            <i>Published on:</i> <strong>@request.CreatedOn.ToString(GlobalConstants.DefaultDateDateFormat)</strong>
                        </h6>
                        <p class="card-text" style="color: black">
                            <strong><i>@Html.Raw(request.Message.Replace("\r\n", "<br />"))</i></strong>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h1 class="text-center mt-3">There is no inactive requests</h1>
}

<div class="d-grid gap-2 col-3 mx-auto mt-4">
    <input class="btn btn-dark mb-4" value="Back" onclick="history.back()">
</div>
