@using PetStore.Common
@using PetStore.Data.Models.Common
@using PetStore.Web.ViewModels.Orders
@model OrderShortInfoViewModel[]

@{
    this.ViewData["Title"] = "My Orders";
}
@if (!string.IsNullOrEmpty(this.ViewBag.UserErrorMessage))
{
    <h1 class="userErrorMessage">@this.ViewBag.UserErrorMessage</h1>
}
@if (this.Model.Length > 0)
{

    <h1 class="text-center"><strong>@this.ViewData["Title"]</strong></h1>
    <table class="table table-hover mt-8" style="border-bottom: 2px solid; border-radius: 15px; border-color: black; backdrop-filter: blur(20px);">
        <thead>
            <tr>
                <th class="firstTwoLabelCols">Product</th>
                <th class="firstTwoLabelCols">Name</th>
                <th class="lastThreeLabelCols">Category</th>
                <th class="lastThreeLabelCols">Quantity</th>
                <th class="lastThreeLabelCols" sstyle="width: 300px">Delivery Adress</th>
                <th class="lastThreeLabelCols">Total Price</th>
                <th class="lastThreeLabelCols"> Status</th>
                <th class="lastThreeLabelCols">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in this.Model)
            {
                <tr name="trData">
                    <td onclick="location.href='@Url.Action("OrderDetails", "Orders", new { order.Id })'"><img src="@order.Product.ImageUrl" alt="No Image" style="height: 120px; width: 160px;"></td>
                    <td class="productNameCol" onclick="location.href='@Url.Action("OrderDetails", "Orders", new { order.Id })'">@Html.DisplayFor(modelItem => order.Product.Name)</td>
                    <td class="categoryNameCol" style = "color: black;" onclick="location.href='@Url.Action("OrderDetails", "Orders", new { order.Id })'">@Html.DisplayFor(modelItem => order.Product.Category.Name)</td>
                    <td class="quantityCol" style="color: black;" onclick="location.href='@Url.Action("OrderDetails", "Orders", new { order.Id })'">@Html.DisplayFor(modelItem => order.Quantity)</td>
                    <td class="deliveryAddressCol" style="color: black; width: 300px" onclick="location.href='@Url.Action("OrderDetails", "Orders", new { order.Id })'">@Html.DisplayFor(modelItem => order.Address)</td>
                    <td class="productPriceCol" style="color: black;" onclick="location.href='@Url.Action("OrderDetails", "Orders", new { order.Id })'">@order.TotalPrice $</td>
                    <td class="orderStatusCol" style="color: @order.StatusColor;" onclick="location.href='@Url.Action("OrderDetails", "Orders", new { order.Id })'">@order.Status</td>
                    <td class="optionButtonsCol" style="color: black;" onclick="location.href='@Url.Action("OrderDetails", "Orders", new { order.Id })'">
                        <a class="btn btn-info" style="font-size: 15pt" asp-area="" asp-controller="Orders" asp-action="OrderDetails" asp-route-id="@order.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 style="text-align: center">You do not have any orders.</h1> 
    <br />
}


<div class="bottomPageButtons">
    <input class="btn btn-dark" style="font-size: 16pt; width: 20%;" value="Back" onclick="history.back()">
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}