@using PetStore.Common
@using PetStore.Data.Models.Common
@model PetStore.Web.ViewModels.Orders.OrderFullDetailsViewModel

@{
    this.ViewData["Title"] = "Order Details";
}

@if (!string.IsNullOrEmpty(this.ViewBag.UserMessage))
{
    <h1 class="userInfoMessage">@this.ViewBag.UserMessage</h1>
}

<h1 class="text-center"><strong>@this.ViewData["Title"]</strong></h1>

<table class="table table-striped">
    <tr name="trData">
        <td style="width: 450px"></td>
        <td style="font-size:24px; width: 200px"><strong>Full Name:</strong></td>
        <td style="font-size:24px;"><i>@this.Model.FirstName @this.Model.LastName</i></td>
    </tr>
    <tr name="trData">
        <td></td>
        <td style="font-size:24px;"><strong>Email:</strong></td>
        <td style="font-size:24px;"><i>@this.Model.Email</i></td>
    </tr>
    <tr name="trData">
        <td></td>
        <td style="font-size:24px;"><strong>Phone Number:</strong></td>
        <td style="font-size:24px;"><i>@this.Model.PhoneNumber</i></td>
    </tr>
    <tr name="trData">
        <td></td>   
        <td style="font-size:24px;"><strong>Adress:</strong></td>
        <td style="font-size:24px;"><i>@this.Model.Address</i></td>
    </tr>
    <tr name="trData">
        <td></td>   
        <td style="font-size:24px;"><strong>Created on:</strong></td>
        <td style="font-size:24px;"><i>@this.Model.CreatedOn.ToString(GlobalConstants.DefaultDateDateFormat)</i></td>
    </tr>
    <tr name="trData">
        <td></td>
        <td style="font-size:24px;"><strong>Total Price:</strong></td>
        <td style="font-size:24px;"><i>@this.Model.TotalPrice $</i></td>
    </tr>
    <tr name="trData">
        <td></td>
        <td style="font-size:24px;"><strong>Quantity:</strong></td>
        <td style="font-size:24px;"><i>@this.Model.Quantity</i></td>
    </tr>
    <tr name="trData">
        <td></td>
        <td style="font-size:24px;"><strong>Delivery Adress:</strong></td>
        <td style="font-size:24px;"><i>@this.Model.Address</i></td>
    </tr>
    @if (!this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <tr name="trData">
            <td></td>
            <td style="font-size:24px;"><strong>Status:</strong></td>
            <td style="font-size:24px;"><i>@this.Model.Status</i></td>
        </tr>
    }
</table>

<h2 style="text-align: center; font-weight: bold; font-style:italic">Product:</h2>
<table class="table table-striped">
    <tr>
        <th class="firstTwoLabelCols">Product</th>
        <th class="firstTwoLabelCols">Name</th>
        <th class="lastThreeLabelCols" style="color: gray;">Category</th>
        <th class="lastThreeLabelCols" style="color: #0DCAF0;">Details</th>
    </tr>
    <tr name="trData">
        <td><img src="@Model.Product.ImageUrl" alt="No Image" style="height: 120px; width: 160px;"></td>
        <td class="productNameCol">@Html.DisplayFor(modelItem => Model.Product.Name)</td>
        <td class="categoryNameCol">@Html.DisplayFor(modelItem => Model.Product.Category.Name)</td>
        <td class="optionButtonsCol">
            <a class="btn btn-info" style="font-size: 15pt" asp-controller="Products" asp-action="Details" asp-route-id="@Model.Product.Id">Details</a>
        </td>
    </tr>
</table>

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
     <div class="col-md-2 mx-auto">
        <div class="form-group mb-3">
            <form method="post" asp-area="Administration" asp-controller="OrdersManager" asp-action="ChangeOrderStatus">
                <input type="hidden" id="Id" name="Id" value="@this.Model.Id">
                <label for="Status" class="control-label" style="font-size: 18pt; font-weight: bold">Status:</label>
                <select id="Status" name="Status" class="form-select">
                    <option value="@this.Model.Status">@this.Model.Status</option>
                    @foreach (var status in GlobalConstants.AllOrderStatuses.Where(c => c != this.Model.Status))
                    {
                        <option value="@status">@status</option>
                    }
                </select>
                <div class="d-grid gap-2 col-12 mx-auto mt-2">
                    <input type="submit" value="Change Status" class="btn btn-success mb-5" style="width: 100%" />
                    <a class="btn btn-dark mb-2" asp-area="Administration" asp-controller="OrdersManager" asp-action="AllOrders">Back to All Orders</a>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <div class="col-md-2 mx-auto mt-5 mb-2">
        <input class="btn btn-dark" value="Back" onclick="history.back()" style="width: 100%" />
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}