@using PetStore.Common
@{
    ViewBag.Title = "Create and Add";
}

<h1 class="text-center">@ViewBag.Title</h1>
<hr />
<div class="row">
    <div class="col-sm-4 mt-4">
        <div class="card" style="height: 18rem; border: 3px solid; border-radius: 15px; border-color: whitesmoke; background-image: url(@GlobalConstants.CreateProductImage); background-size: 100% 100%;" >
            <div class="card-body" onclick="location.href='@Url.Action("CreateProduct", "Create")'">
                <h5 class="card-title text-center" style="color: black;">
                    <strong style="font-size: 36px; color: black; border: 3px solid; border-radius: 15px; border-color: transparent; backdrop-filter: blur(5px);">
                        Product
                    </strong>
                </h5>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mt-4">
        <div class="card" style="height: 18rem; border: 3px solid; border-radius: 15px; border-color: whitesmoke; background-image: url(@GlobalConstants.CreateCategoryImage); background-size: 100% 100%;" >
            <div class="card-body" onclick="location.href='@Url.Action("CreateCategory", "Create")'">
                <h5 class="card-title text-center" style="color: black;">
                    <strong style="font-size: 36px; color: black; border: 3px solid; border-radius: 15px; border-color: transparent; backdrop-filter: blur(5px);">
                        Category
                    </strong>
                </h5>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mt-4">
        <div class="card" style="height: 18rem; border: 3px solid; border-radius: 15px; border-color: whitesmoke; background-image: url(@GlobalConstants.AddPetImage); background-size: 100% 100%;" >
            <div class="card-body" onclick="location.href='@Url.Action("AddPet", "Create")'">
                <h5 class="card-title text-center" style="color: black;">
                    <strong style="font-size: 36px; color: black; border: 3px solid; border-radius: 15px; border-color: transparent; backdrop-filter: blur(5px);">
                        Pet
                    </strong>
                </h5>
            </div>
        </div>
    </div>
</div>




