@using PetStore.Common
@model PetStore.Web.ViewModels.Categories.CategoryViewModel

@{
    ViewData["Title"] = "Products";
}

<div class="row">
    <div class="col-md-4">
        <h1>@Model.Name</h1>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
        </th>
        <th>
            Name
        </th>
        <th style="text-align:end">
            Price
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.Products) 
    {
        <tr name="trData">
             <td class="about-product text-center mt-2"><img src="@product.ImageUrl" width="60">
                </td>
            <td>
                @Html.DisplayFor(modelItem => product.Name)
            </td>
            <td style="text-align:end">
                @Html.DisplayFor(modelItem => product.Price) $
            </td>
            <td style="text-align:end">
                <a class="btn btn-info" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">Details</a> 
                @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a class="btn btn-dark" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<p class="d-grid gap-2 col-2 mx-auto">
      <a class="btn btn-dark" onclick="history.back()">Back</a>
</p>

@if (User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <p class="d-grid gap-2 col-2 mx-auto">
        <a class="btn btn-success" asp-controller="Products" asp-action="Create">Add new product</a>
        <a class="btn btn-danger" asp-controller="Categories" asp-action="DeletedCategoryPorducts" asp-route-id="@Model.Id">Deleted @Model.Name</a>
    </p>
}
