@using PetStore.Common
@model PetStore.Web.ViewModels.Categories.CategoryViewModel

@{
    ViewData["Title"] = "Products";
}

<div class="row">
    <div class="col-md-4">
        <h1>@Model.Name</h1>

        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <p>
                <a class="btn btn-info" asp-action="Create">Create New</a>
            </p>
        }
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th style="text-align:end">
            Price
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.Products) 
    {
        <tr name="trData">
            <td>
                @Html.DisplayFor(modelItem => product.Name)
            </td>
            <td style="text-align:end">
                @Html.DisplayFor(modelItem => product.Price)
            </td>
            <td style="text-align:end">
                <a class="btn btn-info" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">Details</a> 
                @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
