@using PetStore.Common;

@model PetStore.Web.ViewModels.Categories.AllCategoriesViewModel

@{
    ViewData["Title"] = "Categories";
}
@if(!string.IsNullOrEmpty(ViewBag.UserMessage))
{
     <h1 style="text-align:center; padding: 8px; border: 8px solid green; background-color:yellowgreen;"> 
        <i>@ViewBag.UserMessage</i>
    </h1>  
}
<h1 class="text-center"><strong>@ViewData["Title"]</strong></h1>
<hr />
@if (Model.AllCategories.Count > 0)
{
    <div class="row">
        @foreach (var category in Model.AllCategories)
        {
            <div class="col-sm-6 mt-4">
                <div class="card" style="height: 30rem; border: 3px solid; border-radius: 15px; border-color: whitesmoke; background-image: url(@category.ImageURL); background-size: 100% 100%;" >
                    <div class="card-body" onclick="location.href='@Url.Action("CategoryProducts", "Categories", new { category.Id })'">
                        <p class="card-title text-center" style="color: black;">
                            <strong style="font-size: 36px; color: black; border: 3px solid; border-radius: 15px; border-color: transparent; backdrop-filter: blur(20px);">
                                @category.Name
                            </strong>
                        </p>
                        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <a class="btn btn-info mb-2" style="position: absolute; bottom: 0; right:25%; left:25%;" asp-area="Administration" asp-controller="CategoriesManager" asp-action="EditCategory" asp-route-id="@category.Id">Edit</a>
                        }
                    </div>
                </div>
            </div>

        }
    </div>
}
else
{
    <h1 class="text-center mt-3">No categories yet!</h1>
}
<div>

   @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
   {
       <p class="mt-4" style="text-align:center">
           <a class="btn btn-success" asp-area="Administration" asp-controller="Create" asp-action="CreateCategory">Add New Category</a>
       </p>
   }
</div>