@using PetStore.Common;

@model PetStore.Web.ViewModels.Categories.CategoriesViewModel

@{
    this.ViewData["Title"] = "Categories";
}
@if (!string.IsNullOrEmpty(this.ViewBag.UserMessage))
{
    <h1 class="userInfoMessage"><i>@ViewBag.UserMessage</i></h1>  
}

<h1 class="text-center"><strong>@this.ViewData["Title"]</strong></h1>

@if (this.Model.AllCategories.Count > 0)
{
    <div class="row">
        @foreach (var category in this.Model.AllCategories)
        {
            string cateoryProductNoun = @category.Products.Count == 1 ? "Product" : "Products";
            <div class="card me-4 mb-4" style="width: 39rem; background-color: whitesmoke;">
                <p class="card-title text-center mb-0 mt-3" style="font-size: 24pt; color: black; border: 3px solid; border-radius: 5px; border-color: transparent; font-weight: bold;">
                    @category.Name (@category.Products.Count @cateoryProductNoun)
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <div style="position: absolute; bottom: 20px; right:25%; left:25%;">
                            <a class="btn btn-info mb-2" style="float: left; width: 100px" asp-area="Administration" asp-controller="CategoriesManager" asp-action="EditCategory" asp-route-id="@category.Id">Edit</a>
                            <a class="btn btn-danger mb-2" style="float: right; width: 100px" onclick="return confirm('Remove @category.Name from the shtop?');" asp-area="Administration" asp-controller="CategoriesManager" asp-action="DeleteCategory" asp-route-id="@category.Id">Delete</a>
                        </div>
                    }
                </p>
                <img src="@category.ImageURL" onclick="location.href='@Url.Action("CategoryProducts", "Categories", new { category.Id })'"  class="card-img-bottom mb-3" alt="No Image" style="width: 100%; height: 100%; position:center">
            </div>
        }
    </div>
}
else
{
    <h1 class="text-center mt-3">There is no categories yet!</h1>
}
<div>

   @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
   {
       <div class="mt-5" style="text-align:center">
           <a class="btn btn-success" asp-area="Administration" asp-controller="Create" asp-action="CreateCategory">Add New Category</a>
       </div>
       <div class="mt-2" style="text-align:center">
            <a class="btn btn-danger" asp-area="Administration" asp-controller="CategoriesManager" asp-action="DeletedCategories">Deleted Categories</a>
       </div>
   }
</div>