@using PetStore.Common
@model PetStore.Web.ViewModels.Pets.ListOfPetsViewModel

@{
    ViewData["Title"] = "Removed Pets";
}

<div class="row">
    <h1 style="text-align: center">@ViewData["Title"]</h1>
    <div class="col-md-4 justify-content-end" style="float: left">
        <form method="get" asp-controller="Pets" asp-action="DeletedPets">
            <div class="input-group">
                @if (Model.SearchQuery == null)
                {
                    <input type="text" id="SearchQuery" name="SearchQuery" class="form-control" placeholder="Pet name...">
                }
                else
                {
                    <input type="text" id="SearchQuery" name="SearchQuery" class="form-control" value="@Model.SearchQuery">
                }
                <div class="input-group-btn">
                    <button class="btn btn-success m-auto" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form> 
    </div>
</div>

@if(Model.ListOfPets != null && Model.ListOfPets.Count > 0)
{
    <table class="table table-hover mt-8" style="width: 1240px; border-bottom: 2px solid; border-radius: 15px; border-color: black; backdrop-filter: blur(20px);">
        <thead>
            <tr>
                <th style="text-align: start; font-weight: bold;">Product</th>
                <th style="text-align:start">Name</th>
                <th style="text-align: start; font-weight: bold;">Category</th>
                <th style="color: red; text-align:end; font-weight: bold;">Price</th>
                <th style="color: #0DCAF0; text-align:end; font-weight: bold;">Get Details</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var pet in Model.ListOfPets) 
                {
                    <tr name="trData">
                        <td onclick="location.href='@Url.Action("Details", "Pets", new { pet.Id })'" class="about-product text-start mt-2" width="180"><img src="@pet.ImageUrl" width="160"alt="No Image"></td>
                        <td onclick="location.href='@Url.Action("Details", "Pets", new { pet.Id })'" style="text-align:left; font-weight: bold;">@Html.DisplayFor(modelItem => pet.Name)</td>
                        <td onclick="location.href='@Url.Action("Details", "Pets", new { pet.Id })'" style="text-align:end; font-weight: bold; font-style: italic;">@Html.DisplayFor(modelItem => pet.TypeName)</td>
                        <td onclick="location.href='@Url.Action("Details", "Pets", new { pet.Id })'" style="color: red; text-align:end; font-weight: bold;">@Html.DisplayFor(modelItem => pet.Price) $</td>
                        <td style="text-align: end; font-weight: bold;">
                            <a class="btn btn-info" asp-controller="Pets" asp-action="DeletedPetDetails" asp-route-id="@pet.Id">Details</a> 
                            <a class="btn btn-danger" onclick="return confirm('Return @pet.Name back to the shtop?');" asp-controller="Pets" asp-action="UndeleteResult" asp-route-id="@pet.Id">Return back to the shop</a>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
}
else
{
    <h1 style="text-align: center">No pets found</h1> 
    <br/>
}
<div style="text-align:center">
         <input class="btn btn-dark" value="Back" onclick="history.back()">
</div>