@using PetStore.Common
@model PetStore.Web.ViewModels.Pets.PetsViewModel

@{
    ViewData["Title"] = "Pets";
}

<div class="row">
    @if(string.IsNullOrEmpty(Model.PetTypeName))
    {
        <h1 style="text-align: center">All Pets</h1>
    }
    else
    {
        <h1 style="text-align: center">Pets Type @Model.PetTypeName</h1>
    }
    @if(Model.ListOfPets.Count > 0)
    {
        <div class="col-md-4 mb-4 justify-content-end" style="float: left">
            <form method="get" asp-controller="Pets" asp-action="Index">
                <div class="input-group">
                    @if (Model.SearchQuery == null)
                    {
                        <input type="text" id="SearchQuery" name="SearchQuery" class="form-control" placeholder="Pet name...">
                    }
                    else
                    {
                        <input type="text" id="SearchQuery" name="SearchQuery" class="form-control" value="@Model.SearchQuery">
                    }
                        <input type="hidden" id="PetTypeName" name="PetTypeName" value="@Model.PetTypeName">
                    <div class="input-group-btn">
                        <button class="btn btn-success m-auto" type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </form> 
        </div>
    }
</div>
@if (Model.ListOfPets.Count > 0)
{
    <table class="table table-hover" style="width: 1240px; border-bottom: 2px solid; border-radius: 15px; border-color: black; backdrop-filter: blur(20px);">
        <thead>
            <tr>
                <th style="color: green; text-align:start;">Pet</th>
                <th style="text-align:start;">Name</th>
                <th style="color: darkgoldenrod; text-align: end; font-weight: bold;">Type</th>
                <th style="color: red; text-align: end; font-weight: bold;">Price</th>
                <th style="color: #0DCAF0; text-align: end; font-weight: bold;">Get Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pet in Model.ListOfPets)
            {
                <tr name="trData" onclick="location.href='@Url.Action("Details", "Pets", new { pet.Id })'">
                    <td class="about-product text-start mt-2" width="180"><img src="@pet.ImageUrl" width="160"alt="No Image"></td>
                    <td style="text-align:left; font-weight: bold;">@Html.DisplayFor(modelItem => pet.Name)</td>
                    <td style="color: darkgoldenrod; text-align:end; font-weight: bold; font-style: italic;">@Html.DisplayFor(modelItem => pet.TypeName)</td>
                    <td style="color: red; text-align:end; font-weight: bold;">@Html.DisplayFor(modelItem => pet.Price) $</td>
                    <td style="text-align: end; font-weight: bold;">
                        <a class="btn btn-info" asp-controller="Pets" asp-action="Details" asp-route-id="@pet.Id">Details</a> 
                        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <a class="btn btn-dark" asp-controller="Pets" asp-action="Edit" asp-route-id="@pet.Id">Edit</a>
                            <a class="btn btn-danger" asp-controller="Pets" asp-action="DeleteConfirmation" asp-route-id="@pet.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
        <h1 style="text-align: center">No pets found</h1> 
        <br/>
}
<p class="d-grid gap-2 col-2 mx-auto">
        <input class="btn btn-dark" value="Back" onclick="history.back()">
        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
        <a class="btn btn-success" asp-controller="Create" asp-action="AddPet">Add new pet</a>
            @if (ViewBag.CategoryName == null)
            {
                <a class="btn btn-secondary" asp-controller="Pets" asp-action="RemovedPets">Sold pets</a>            
            }
            else
            {
                <a class="btn btn-secondary" asp-controller="Pets" asp-action="RemovedTypePets" asp-route-name="@ViewBag.CategoryName">Deleted @ViewBag.CategoryName</a>   
            }
        }     
</p>