@using PetStore.Common
@model PetStore.Web.ViewModels.Pets.ListOfPetsViewModel

@{
    this.ViewData["Title"] = "Pets";

    string[] oderCriteria = GlobalConstants.AllOrderCriteria;

    if (!string.IsNullOrEmpty(Model.PetTypeName))
    {
        this.ViewData["Title"] = Model.PetTypePlural;
        oderCriteria = GlobalConstants.AllOrderCriteria.Where(c => c != "Type").ToArray();
    }
}

<h1 class="text-center"><strong>@this.ViewData["Title"]</strong></h1>

@if (this.Model.ListOfPets.Count > 0)
{
    <form method="get" asp-controller="Pets" asp-action="Index">
        <div class="container mt-2">
            <div class="row align-items-start">
                <div class="col-md-4 justify-content-start">
                </div>
                <div class="col-md-4 justify-content-start">
                    <div class="input-group">
                        @if (Model.SearchQuery == null)
                        {
                            <input style="font-size: 15pt" type="text" id="SearchQuery" name="SearchQuery" class="form-control" placeholder="Search for pet">
                        }
                        else
                        {
                            <input style="font-size: 15pt" type="text" id="SearchQuery" name="SearchQuery" class="form-control" value="@Model.SearchQuery">
                        }
                            <input type="hidden" id="PetTypeName" name="PetTypeName" value="@Model.PetTypeName">
                        <div class="input-group-btn">
                            <button class="btn btn-success m-auto" style="font-size: 15pt" onclick="this.form.submit()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col-md-5 justify-content-start">
                <div class="navbar">
                    <ul class="navbar-nav flex-grow-1" style="font-size: 16pt;">
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" style="font-size: 16pt; background-color: white; color: black; font-weight: bold; border-color: transparent;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Order by
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="width: 200px; font-size: 14pt;">
                                    @foreach (string orderCriteria in oderCriteria)
                                    {
                                        <li>
                                            <button class="btn m-auto" style="background-color: transparent" onclick="this.form.submit()" id="OrderCriteria" name="OrderCriteria" value="@orderCriteria">@orderCriteria</button>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
             </div>
            <div class="col-md-4 mt-3 justify-content-start">
                @if(this.Model.SearchQuery != null)
                {
                    string resultType = this.Model.ListOfPets.Count == 1 ? "pet found" : "pets found";
                    <h3 style="font-style: italic; font-weight: bold">@this.Model.ListOfPets.Count @resultType found</h3>
                }
            </div>
        </div>
    </form> 
    <table class="table table-hover" style="width: 1240px; border-bottom: 2px solid; border-radius: 15px; border-color: black; backdrop-filter: blur(20px);">
        <thead>
            <tr>
                <th style="font-size: 18pt; text-align: start;">Pet</th>
                <th style="font-size: 18pt; text-align: start;">Name</th>
                <th style="font-size: 18pt; color: gray; text-align: end; font-weight: bold;">Type</th>
                <th style="font-size: 18pt; color: darkorange; text-align: end; font-weight: bold;">Price</th>
                <th style="font-size: 18pt; color: #0DCAF0; text-align: end; font-weight: bold;">Get Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pet in this.Model.ListOfPets)
            {
                <tr name="trData">
                    <td onclick="location.href='@Url.Action("Details", "Pets", new { pet.Id })'" class="about-product text-start mt-2" width="180"><img src="@pet.ImageUrl" width="160"alt="No Image"></td>
                    <td onclick="location.href='@Url.Action("Details", "Pets", new { pet.Id })'" style="font-size: 16pt; text-align: start; font-weight: bold;">@Html.DisplayFor(modelItem => pet.Name)</td>
                    <td onclick="location.href='@Url.Action("Details", "Pets", new { pet.Id })'" style="font-size: 16pt; color: gray; width: 300px; text-align: end; font-weight: bold; font-style: italic;">@Html.DisplayFor(modelItem => pet.TypeName)</td>
                    <td onclick="location.href='@Url.Action("Details", "Pets", new { pet.Id })'" style="font-size: 16pt; color: darkorange; width: 400px; text-align: end; font-weight: bold;">@Html.DisplayFor(modelItem => pet.Price) $</td>
                    <td style="text-align: end; font-weight: bold;">
                        <a class="btn btn-info" style="font-size: 15pt" asp-controller="Pets" asp-action="Details" asp-route-id="@pet.Id">Details</a>
                        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <a class="btn btn-dark" style="font-size: 15pt" asp-area="Administration" asp-controller="PetsManager" asp-action="EditPet" asp-route-id="@pet.Id">Edit</a>
                            <a class="btn btn-danger" style="font-size: 15pt" onclick="return confirm('Remove @pet.Name from the shop?');" asp-area="Administration" asp-controller="PetsManager" asp-action="DeletePet" asp-route-id="@pet.Id">Remove</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 style="text-align: center">No pets found</h1> 
    <br/>
}

<p class="d-grid gap-2 col-2 mx-auto">
    <input class="btn btn-dark" value="Back" onclick="history.back()">
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <a class="btn btn-success" asp-area="Administration" asp-controller="Create" asp-action="AddPet">Add New Pet</a>
        <a class="btn btn-danger" asp-area="Administration" asp-controller="PetsManager" asp-action="DeletedPets">Removed Pets</a>
    }     
</p>