@using Microsoft.AspNetCore.Identity;
@using PetStore.Common
@using PetStore.Data.Models;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow mb-3" style="height: 70px; background-color: #F7F7F7; ">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="margin-left: 10px">
                <img src="https://media.istockphoto.com/vectors/pet-shop-on-transparent-background-vector-id1284316922?k=20&m=1284316922&s=612x612&w=0&h=SYmBfcRGv706r0TSGgpmLRS2ov4ZMNI80gN1sWuCfk8=" width="60">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" style="font-size: 16pt; background-color: transparent; color: black; font-weight: bold; border-color: transparent;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Products
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="font-size: 14pt; font-style: italic">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Index">All Products</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                                </li>
                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    <li>
                                        <a class="dropdown-item" asp-area="Administration" asp-controller="ProductsManager" asp-action="DeletedProducts">Deleted Products</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" style="font-size: 16pt; background-color: transparent; color: black; font-weight: bold; border-color: transparent;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Pets
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="font-size: 14pt; font-style: italic">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pets" asp-action="Index">All Pets</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pets" asp-action="PetTypes">Pet Types</a>
                                </li>
                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    <li>
                                        <a class="dropdown-item" asp-area="Administration" asp-controller="PetsManager" asp-action="DeletedPets">Removed Pets</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item" style="font-size: 16pt; float: right">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Contacts" asp-action="Index" style="font-weight: bold;">Contacts</a>
                    </li>
                </ul>
                </div>
            <div class="navbar mr-4">
                @if (@User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <ul class="navbar-nav flex-grow-1" style="font-size: 16pt; float: inherit">
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" style="font-size: 16pt; background-color: transparent; color: black; font-weight: bold; border-color: transparent;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Administration Options
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="width: 285px; font-size: 14pt; font-style: italic">
                                    <li>
                                        <a class="dropdown-item" asp-area="Administration" asp-controller="Requests" asp-action="Index">Requests</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Administration" asp-controller="Create" asp-action="Index">Create and Add</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Administration" asp-controller="UserManager" asp-action="Index">List of All Clients</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                }
            </div>
                <partial name="_LoginPartial"/>
        </nav>
    </header>
    
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - @DateTime.Now.Year - @GlobalConstants.SystemName
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>

