@using PetStore.Common
@using PetStore.Data.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav" style="margin-right: 10px">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        ApplicationUser applicationUser = (ApplicationUser) await this.UserManager.GetUserAsync(this.User);
        string applicationUserFullName = applicationUser.FirstName + " " + applicationUser.LastName;
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Index" asp-route-id="@applicationUser.Id" title="Manage">Hello, <i>@applicationUserFullName</i>!</a>
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <p>You have administrator rights!</p>
            }
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Context.Request.Path">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLcnT_tnezDVpL-xsutsiDVFMqnT0TwDjvh9E3mJ1U2EXQdvc8DCiBcAOjadwdttxWlIc&usqp=CAU" width="53" title="Log Out!">
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Context.Request.Path">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Context.Request.Path">Login</a>
        </li>
    }
</ul>
