@using PetStore.Common
@using PetStore.Data.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
	string username = string.Empty;
	string userHoverText = string.Empty;
	ApplicationUser applicationUser = (ApplicationUser)await this.UserManager.GetUserAsync(this.User);

	if (this.SignInManager.IsSignedIn(this.User))
	{
		if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
		{
			username = "Admin";
			userHoverText = "You have administrator rights";
		}
		else
		{
			username = applicationUser.FirstName;

			userHoverText = "Manage";
		}
	}
	}
<ul class="navbar-nav" style="font-size: 16pt; margin-right: 10px; margin-left: 10px">
	@if (this.SignInManager.IsSignedIn(this.User))
		{
			<li class="nav-item" style="font-size: 16pt;">
				<a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index" asp-route-id="@applicationUser.Id" title="@userHoverText">Hello, <i>@username</i>!</a>
			</li>
			<li class="nav-item">
				<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
				<button type="submit" class="nav-link btn btn-link text-dark" style="font-size: 16pt;">Log out</button>
				</form>
			</li>
		}
		else
		{
			<li class="nav-item" style="font-size: 16pt;">
				<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Context.Request.Path">Register</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Context.Request.Path">Login</a>
			</li>
		}
	</ul>
