@using PetStore.Common

@{
    this.ViewData["Title"] = $"Contacts";
}

<h1 style="text-align:center"><strong>@this.ViewData["Title"]</strong></h1>
<div class="d-flex justify-content-center container mt-3">
    <div class="card p-3" style="width: 500px; background-color: #F7F7F7;">
        <i class="fa fa-apple"></i>
        <p style="text-align: center;">
            <Text style="font-size:24px;"><strong>Working Time:</strong></Text>
            <br />
            <Text style="font-size:24px;"><i>@GlobalConstants.ShopWrokingHours</i></Text>
            <br />
            <Text style="font-size:24px;"><i>@GlobalConstants.ShopWrokingDays</i></Text>
            <br />
        </p>
        <p style="text-align: center;">
            <Text style="font-size:24px;"><strong>Address:</strong></Text>
            <br />
            <Text style="font-size:24px;"><i>@GlobalConstants.ShopAdress</i></Text>
            <br />
        </p>
        <p style="text-align: center;">
            <Text style="font-size:24px;"><strong>Contacts:</strong></Text>
            <br />
            <Text style="font-size:24px;"><strong>Phone Number:</strong></Text>
            <br />
            <Text style="font-size:24px;"><i>@GlobalConstants.ContactEmailAddress</i></Text>
            <br />
            <Text style="font-size:24px;"><strong>Email Adress:</strong></Text>
            <br />
            <Text style="font-size:24px;"><i>@GlobalConstants.ContactPhoneNumber</i></Text>
        </p>
    </div>
</div>
<div class="d-grid gap-2 col-2 mx-auto mt-4">
    <a class="btn btn-primary" onclick=" window.open('@GlobalConstants.GoogleMapsURLAdress','_blank')">Find us on the map</a>
    @if (!this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <a class="btn btn-success" asp-area="" asp-controller="Contacts" asp-action="CreateRequest">Send a request</a>
    }
    <a class="btn btn-dark" onclick="history.back(); return false;">Back</a>
</div>




